{% extends "admin/base_site.html" %}
{% load i18n static tags %}


{% block extrastyle %}


<link href={% static "css/bootstrap-datetimepicker.min.css"%} rel="stylesheet" media="screen">
{% endblock %}
{% block coltype %}
{#    col-md-12 col-sm-12 col-lg-12#}

container
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 panel panel-primary">
        <div class="panel-heading">待分装标本</div>
        <div class="panel-body">


            <form id="daifentiaojian" method="get" >
            <div class="form-group" style="margin-bottom: 0">
                <label for="dtp_input2" class="col-md-1 control-label" style="margin-bottom: 0;padding: 0">日期</label>
                <div class="input-group date form_date col-md-7" data-date="" data-date-format="yyyy-mm-dd " data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input name="timel" class="form-control" size="16" type="text" value="{% now "Y-m-d" %}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" /><br/>
            </div>





            选择类型<select id="leixing" name="lx" class="select2-dropdown " >
                <option id="a0" value="0">全血</option>
            　　<option  id="a1" value="1">尿</option>
            　　<option id="a2" value="2">组织</option>
            　　<option id="a3" value="3">精液</option>
            　　<option id="a4" value="4">卵泡液</option>
            　　<option id="a5" value="5" >毛发</option>  　　


            </select>






            <button type="submit" >查询</button>
            </form>
        </div>

        <div class="panel-body " style=" overflow:scroll; width:100%; height:600px;">
        <table class="table table-bordered  table-hover table-condensed">
                <thead>
                <td style="word-break: keep-all;white-space:nowrap;"><input type="checkbox">全选 </td>
                <td style="word-break: keep-all;white-space:nowrap;">样本编号</td>
                <td style="word-break: keep-all;white-space:nowrap;">姓名</td>
                <td style="word-break: keep-all;white-space:nowrap;">类型</td>
                <td style="word-break: keep-all;white-space:nowrap;" >病历号</td>



                </thead>
            {% for sap in sap  %}
                <tr><td><input type="checkbox" value="{{ sap.id}}" name="xuanlist"></td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ sap.num }}</td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ sap.name }}</td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ sap.classf|displayName:'lx' }}</td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ sap.specimen_info__blh }}</td>




                </tr>




            {% endfor %}
        </table>
        </div>





        </div>
        <div class="col-lg-4 panel panel-default">
        <div class="panel-heading">分装</div>
        <div class="panel-body">

            <div id="tiao" style="display: none">

            <tr>
                <td>
            <select id="leixing1" name="lx2" class="select2-dropdown">
                <option value="0">全血</option>
            　　<option value="1">尿</option>
            　　<option value="2">精子</option>
            　　<option value="3">精浆</option>
            　　<option value="4">卵泡液</option>
            　　<option value="5">颗粒细胞</option>  　　
            　　<option value="6">血清</option>  　　
            　　<option value="7">血浆</option>  　　
            　　<option value="8">白细胞</option>  　　
            　　<option value="9">血细胞</option>  　　
            　　<option value="10">胎盘</option>  　　
            　　<option value="11">脐带</option>  　　
            　　<option value="12">毛发</option>  　　
            </select>
                </td>
                <td>
            <input id="nm" type="text" name="shuliang" style="width: 80px"></td>

            <td><input id="vm" type="text" name="tiji" style="width: 80px"></td>

            <td><button class="btn btn-default" type="button" onclick="quchu(this)">-</button> </td>

                </tr>
            </div>




             <select id="leixing1" name="类型" class="select2-dropdown">
                 <option value="0">全血1</option>
            　　<option value="1">尿2</option>
            　　<option value="2">组织1</option>
            　　<option value="3">精液1</option>
            　　<option value="4">卵泡液2</option>
            　　<option value="5">毛发1</option>
             </select>
            <button class="btn btn-default" type="button">添加模板</button>
            <button class="btn btn-default" type="button" onclick="tianjia()" >添加</button>
            <button id="go" type="button" class="btn btn-default" >go</button>
            <form id="fenlist" class="panel-body" method="post" style=" overflow:scroll; width:100%; height:300px;" action="/inybk/fen">
             <table  class="table table-bordered  table-hover table-condensed">

                <thead>
                <tr>
                    <td>类型</td>
                    <td>数量</td>
                    <td>体积</td>
                    <td>删除</td>
                </tr>
                </thead>
                  </table>
                <table  class="table table-bordered  table-hover table-condensed">
                 <tbody  id="fenlistxx">



                 </tbody>


             </table>
            </form>
        </div>
        <div class="panel-body" style=" overflow:scroll; width:100%; height:350px;">

        <table  class="table table-bordered  table-hover table-condensed">
                <thead>

                <td style="word-break: keep-all;white-space:nowrap;">样本编号</td>
                <td style="word-break: keep-all;white-space:nowrap;">类型</td>
                <td style="word-break: keep-all;white-space:nowrap;" >体积</td>


                </thead>
            <tbody id="jieguo">



            </tbody>
        </table>
        </div>

        </div>
        <div class="col-lg-4 panel panel-primary">
        <div class="panel-heading">已分装标本</div>
        <div class="panel-body">


        <button class="btn btn-default" type="button" id="qxfz">取消分装</button>

        </div>

             <div class="panel-body " style=" overflow:scroll; width:100%; height:650px;">
        <table class="table table-bordered  table-hover table-condensed">
                <thead>
                <td style="word-break: keep-all;white-space:nowrap;"><input type="checkbox">全选 </td>
                <td style="word-break: keep-all;white-space:nowrap;">样本编号</td>
                <td style="word-break: keep-all;white-space:nowrap;">姓名</td>
                <td style="word-break: keep-all;white-space:nowrap;">类型</td>
                <td style="word-break: keep-all;white-space:nowrap;" >病历号</td>


                </thead>
            {% for fensap in fensap  %}
                <tr><td><input type="checkbox" value="{{ fensap.id}}" name="fenxuanlist"></td>
                <td style="word-break: keep-all;white-space:nowrap;"><button class="btn-xs" style="width: 100% ;background-color: #fff" type="button" >{{ fensap.num }}</button></td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ fensap.name }}</td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ fensap.classf|displayName:'lx' }}</td>
                <td style="word-break: keep-all;white-space:nowrap;">{{ fensap.specimen_info__blh }}</td>




                </tr>




            {% endfor %}
        </table>
        </div>






        </div>

        </div>










    </div>


{% endblock %}

{% block bottom-js %}


<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js"%}" charset="UTF-8"></script>
<script type="text/javascript" src="{% static "js/locales/bootstrap-datetimepicker.zh-CN.js"%}" charset="UTF-8"></script>





    <script>


  $('#a{{ lx }}').attr("selected","selected")



        var ide=1
        var idea='a'
function tianjia() {

    idea='a'+ide
    $('#tiao').clone(true).appendTo('#fenlistxx').attr({'id':idea,'style':'float:left'});

    ide=ide+1
};

function quchu(self) {

   $(self).parent().remove()
};

$('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
        Boolean: "linked"
    });
{#更新时间到现在，好像有问题#}
{#$('.form_date').datetimepicker('update',formatDate(thisNow,'yyyy-mm-dd'));#}

$("#go").click(function(){
    fenlist=new Array();
    fenlist=$('#fenlist').serialize();

    fenbiao=new Array();
    $.each($('input[name=xuanlist]:checkbox:checked'),function(){
        fenbiao.push($(this).val());

    });
    fenbiao=fenbiao.join();


    var arg = {};
    var arg1="fenlist";
    var arg2="fenbiao";
    var arg3="gn";
{#    填写功能#}

    arg[arg1]=fenlist;
    arg[arg2]=fenbiao;
    arg[arg3]="fenzhuang";
    $.post("/inybk/fen/", arg,function () {alert('分装成功');

    });


});


$("#qxfz").click(
    function () {
   yfbiao=new Array();
       $.each($('input[name=fenxuanlist]:checkbox:checked'),function(){
        yfbiao.push($(this).val());

    });
        yfbiao=yfbiao.join()
            var arg = {};

    var arg1="yfbiao";
    var arg2="gn";
{#    填写功能#}

    arg[arg1]=yfbiao;
    arg[arg2]="qxfz";
    $.post("/inybk/fen/", arg,function () {alert('已取消粉状');
    }
);});
$(".btn-xs").click(
    function(){
    {#console.log(typeof ($(this).text()))#}
     var arg = {};

    var arg1="chakan";
    var arg2="gn";
{#    填写功能#}

    arg[arg1]=$(this).text();
    arg[arg2]="ck";
    $.post("/inybk/fen/", arg,function (date,status) {

        $("#jieguo").empty()
        var cars=new Array('全血','尿','精子','精浆','卵泡液', '颗粒细胞', '血清', '血浆','白细胞','血细胞','胎盘','脐带','毛发');
        $.each($.parseJSON(date), function(i,item){

                        $("#jieguo").append("<tr>" + "<td>" + item.snum + "</td>"+ "<td>" + cars[item.classf] +"</td>"+ "<td>" + item.volume + "</td>"+ "</tr>")








        });








    })


}




);
    </script>
{% endblock %}