{% extends "admin/base_site.html" %}
{% load i18n static tags %}


{% block coltype %}
{#    col-md-12 col-sm-12 col-lg-12#}

container
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 panel panel-primary">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">
            Panel content
        </div>





        </div>
        <div class="col-lg-4 panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">
            Panel content
        </div>

        </div>
        <div class="col-lg-4 panel panel-primary">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">
            Panel content
        </div>

        </div>










    </div>


{% endblock %}

{% block bottom-js %}
    <script>

    </script>
{% endblock %}