{% extends "admin/base_site.html" %}
{% load i18n static tags%}


{% block content %}

<h2>样本查询</h2>


    <div id="hehe" class="sel2" style=display:none>
    <select name="zi" class="aaa">
    <option value="snum">样本编号</option>
    <option value="num__num">标本编号</option>
    <option value="num__name">姓名</option>
    <option value="classf">类型</option>
    <option value="num__specimen_info__kh">卡号</option>
    <option value="num__specimen_info__blh">病历号</option>
    <option value="num__specimen_info__age">年龄</option>
    <option value="num__specimen_info__fllowup">随访号</option>
</select>
<select name="duan" class="bbb">
    <option value="">=</option>
    <option value="__gt">></option>
    <option value="__lt"><</option>
    <option value="__lte"><=</option>
    <option value="__gte">>=</option>
    <option value="__istartswith">开头</option>
    <option value="__iendswith">结尾</option>
    <option value="__contains">包含</option>
</select>
    <input type="text" class="span2" name="shu">
    <button type="button" class="btn" onclick="quchu(this)">-</button>
    </div>
{#    <button type="submit" class="btn">Search</button>#}





<form action="/surch" method="post"  id="surch_form" style="background: #f0f0f0 ;overflow: auto;border: outset">


{% csrf_token %}
    <div class="panel panel-default">
  <div class="panel-heading"><h4>查询条件</h4>

  </div>
  <div class="panel-body">
     <button type="button" class="btn" style="display:inline-block" onclick="tianjia()">添加条件</button>
<button id="go" type="submit" class="btn" style="display: inline-block">go</button>
<input id="tj" type="text" name="tiaojian" style=display:none>
  </div>
</div>

</form>

    <div class="panel panel-default" data-example-id="striped-table">
    <div class="panel-heading" data-example-id="striped-table"><h3 class="col-lg-5" style="display: inline;margin: inherit">查询结果</h3>
        <!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-ex">导出EXCEL</button>
<button type="button" id ="chuku" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-chu">快速出库</button></div>

    </div>
    <div class="modal fade bs-example-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">excel</h4>
        </div>
        <div class="modal-body">
          将查询的结果导出的excel中
        </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{% static "plugins/result.xlsx" %}" download="result{% now "Y-m-d" %}" type="button" class="btn btn-primary">Save</a>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
    <div class="modal fade bs-example-modal-chu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">chuku</h4>
        </div>
          <form action="/chuku" method="post" id="chuku_form">
              {% csrf_token %}
        <div class="modal-body">

            <p id ="chukumun"> </p>
            <p id ="chukulist1"> </p>

                <input id="chukulist" type="text" name="chukulist" style="display: none" >

        </div>
           <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">出库</button>
      </div>
          </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
{% if jieguo %}
<table class="table table-bordered  table-hover">

    <tr>
        <td><input type="checkbox">全选 </td>
    <td>样本编号</td>
    <td>标本编号</td>
    <td>姓名</td>
    <td>类型</td>
    <td>病历号</td>
    <td>卡号</td>
    <td>随访号</td>
    <td>性别</td>
    <td>BOX</td>
    <td>SHEET</td>
    <td>BANK</td>


    </tr>
{% for ti in jieguo %}
<tr>
    <td><input type="checkbox" value="{{ ti.snum }}" name="xuanlist"></td>
    <td > <a href="{% url "box" ti.sample_pos__box_ID  %}?pxy={{ ti.sample_pos__xy}}">{{ ti.snum }}</a></td>
    <td> {{ ti.num__num}}</td>
    <td> {{ ti.num__name}}</td>
    <td> {{ ti.classf|displayName:'classf' }}</td>
    <td> {{ ti.num__specimen_info__blh}}</td>
    <td> {{ ti.num__specimen_info__kh}}</td>
    <td> {{ ti.num__specimen_info__fllowup}}</td>
    <td> {{ ti.num__specimen_info__sex|displayName:'sex' }}</td>
    <td> {{ ti.sample_pos__box_ID__boxnum}}<{{ ti.sample_pos__xy}}></td>

        <td> {{ ti.sample_pos__box_ID__box_pos__sheet_ID__shnum}}<{{ ti.sample_pos__box_ID__box_pos__xy}}></td>
    <td> {{ ti.sample_pos__box_ID__box_pos__sheet_ID__sheet_pos__bank_id__bnum}}<{{ ti.sample_pos__box_ID__box_pos__sheet_ID__sheet_pos__xy }}></td>


</tr>
    {% endfor %}

</table>

{% endif %}
{% endblock %}



{% block bottom-js %}
<script>
var ide=1
var idea='a'
function tianjia() {

    idea='a'+ide
    $('#hehe').clone(true).appendTo('#surch_form').attr({'id':idea,'style':'float:left'});

    ide=ide+1
};
function quchu(self) {

   $(self).parent().remove()
};


$(".sss").click(function(){

            //$.post("")
{#            var dd=$("#aa1").attr("id")#}

            var dd=$(this).attr("id")
{#            alert(dd)#}
            var post_data ={"id":dd};
            $.get("/ajaxtest1/",post_data,function(datas){

                $("#ww").text(datas)
                var xx=eval(datas)

                alert(xx[0].b)
            })

        });

$("#go").click(function () {
var num= new Array();
num[1]=new Array();
num[2]=new Array();
num[0]=new Array();

    console.log('aaa');
    $("form input:gt(0)").each(function (){num[0].push($(this).val())});
        console.log(num[0])
    $("form select[name=\"duan\"]").each(function (){num[2].push($(this).val())});
    $("form select[name=\"zi\"]").each(function (){num[1].push($(this).val())});

str=num.join('|')
    console.log(str)
    $('#tj').attr('value',str)
})

$("#chuku").click(function(){
    //$('input:checkbox:checked') 等同于 $('input[type=checkbox]:checked')
    //意思是选择被选中的checkbox
    $("#chukumun").empty()
    $("#chukulist").empty()
    $("#chukumun").append("你选了："+$('input[type=checkbox]:checked').length+"个: ");
    chukul=new Array();
    $.each($('input:checkbox:checked'),function(){
        $('#chukulist1').append($(this).val()+',')
        chukul.push($(this).val());
    });

    $('#chukulist').attr('value',chukul)

});



</script>
{% endblock %}